body
{
	background-image: url("../images/cloth.png");
}

header
{
	font-size: 32px;
	text-align: center;
}

.results
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.result
{
	text-align: center;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.gif
{
	background-color: white;
	margin: 10px;
}